[submodule "tools/cc2538-bsl"]
	path = tools/cc2538-bsl
	url = https://github.com/JelmerT/cc2538-bsl.git
[submodule "os/net/security/tinydtls"]
	path = os/net/security/tinydtls
	url = https://github.com/contiki-ng/tinydtls.git
[submodule "tests/18-coap-lwm2m/example-lwm2m-standalone"]
	path = tests/18-coap-lwm2m/example-lwm2m-standalone
	url = https://github.com/contiki-ng/example-lwm2m-standalone.git
[submodule "arch/cpu/simplelink-cc13xx-cc26xx/lib/coresdk_cc13xx_cc26xx"]
	path = arch/cpu/simplelink-cc13xx-cc26xx/lib/coresdk_cc13xx_cc26xx
	url = https://github.com/contiki-ng/coresdk_cc13xx_cc26xx.git
